.host {
  display: block;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #03234B;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  padding: 10px;
  color: white;
}
