.control {
  padding: 5px;
  border: 1px solid gray;
  border-radius: 4px;
  cursor: default;
  user-select: none;
}

.menu {
  border: 1px solid gray;
  border-radius: 4px;
  cursor: default;
  user-select: none;
}

.item {
  padding: 5px;
}